footer{
   display: flex;
   justify-content: space-between;
   margin-top: 30px;
   border-top: 1px solid darkmagenta;

   p { text-align: center;
   
   
     }
   img {
      /*ancho*/
      width: 5rem;
      /*alto*/
      height: 2rem;
     }
}
@media(max-width: 420px){
  footer{
    img{
      width: 2rem;
      height: 1rem;
       }
      p{
        font-size: 10px;
      }
  }
}